@model PostModelList
<head>
    <script src="~/js/site.js" defer></script>
    <link href="~/css/site.css" rel="stylesheet" />

</head>

@{
    ViewData["Title"] = "Home Page";
}
@using Share_Free.Services
@using Sharing_Free.Domain
<!--Search bar-->
<body>
    <h3>Welcome!</h3>

    <!-- The Posts -->
    <h1>Posts</h1>
    <h5>New Post</h5>
    <div class="createpost">
        <button onclick="createPost()">Create New Post</button>
        <div id="createPostForm" class="hidden">
            <label>Title:</label>
            <input type="text" name="title" />

            <label>Description:</label>
            <input type="text" name="description" />

            @*<input type="text" id="getUsernamePost" name="username" value="@Context.User.FindFirst("Username").Value.ToString()" hidden />*@


            <input type="submit" onclick="" value="CreatePost" />

        </div>

    </div>

    <div class="post_container">
        @{
            PostService pService = new PostService();
            List<Post> allPosts = pService.GetAllPosts();
            CommentService cService = new CommentService();
            var allComments = cService.GetAllComments();
            foreach (var post in allPosts)
            {
                <div id="parentDivPost">
                    <div id="postdiv_@post.Id">
                        <h2>@post.Title [@post.Id] </h2>
                        @*<button onclick="deletePost(@post.Id)"></button>*@
                        <img src="~/images/garbage2.png" onclick="deletePost(@post.Id)" />
                        <input type="number" id="postId_@post.Id" name="PostId" value="@post.Id" hidden />
                        <p>
                            @post.Description
                            <small>By: @post.Username @post.Date</small>

                            <div class="createpost">
                                <img src="~/images/newPost.png" alt="Modify Post" onclick="modifyPostForm(@post.Id)" />
                                <div id="modifyPostDiv_@post.Id" class="hidden">

                                    <input id="modifyPostId_@post.Id" type="number" name="modifyPostId" value="@post.Id" hidden />

                                    <label>Title:</label>
                                    <input type="text" name="modifyPostTitle" id="modifyPostTitle_@post.Id" />
                                    <label>Description:</label>
                                    <input type="text" name="modifyPostDescription" id="modifyPostDescription_@post.Id" />

                                    <button onclick="modifyPost(@post.Id)">Modify</button>

                                </div>
                            </div>
                        </p>
                    </div>

                    <h3>Comments:</h3>
                    <div id="list_comments_div">
                        <button onclick="test(@post.Id)">Create New Comment</button>
                        <form asp-controller="Comment" asp-action="CreateComment" method="post" id="createCommentForm_@post.Id" class="hidden2">
                            <label>Message:</label>
                            <input type="text" name="message" />
                            <input type="number" name="postId" hidden value="@post.Id" /> @*passing postId to controller*@

                            <input type="submit" value="CreateMessage" />
                        </form>
                        @{
                            foreach (var comment in allComments)
                            {
                                if (comment.Post_Id == post.Id)
                                {
                                    <div id="parentDivComment">
                                        <div id="commentdiv_@comment.Id">
                                            <h4>
                                                [@comment.Username] [ @comment.Id ]
                                                <img src="~/images/garbage2.png" onclick="deleteComment(@comment.Id)" />
                                                <img src="~/images/newPost.png" onclick="modifyComment(@comment.Id)" />
                                            </h4>
                                            <form id="modifyCommentForm_@comment.Id" class="hidden2" asp-controller="Comment" asp-action="ModifyComment" method="post">
                                                <input type="number" name="commentId" value="@comment.Id" hidden />
                                                <label>Modified Message:</label>
                                                <input type="text" name="message" />

                                                <input type="submit" value="Modify Comment" />
                                            </form>
                                            <p><small>@comment.Message @comment.Date</small></p>
                                            @* delete comment *@
                                            <input type="number" name="commentId" value="@comment.Id" hidden id="getCommentId_@comment.Id" />
                                        </div>
                                    </div>

                                }
                            }
                        }
                    </div>
                </div>
                
            }
        }
    </div>
</body>





